---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import OldPostWarning from "../components/OldPostWarning.astro";
import { budouxfy } from "../lib/parse-with-budoux.ts";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"post">["data"] & { slug: string };

const { title, description, date, updatedDate, slug } = Astro.props;

const budouxed = budouxfy(title);
const lastUpdatedOn: Date = updatedDate ?? date;
// NOTE: fallback if description is empty string too.
const postDescription =
  description ||
  `Omochice's blog post at ${date.toISOString().substring(0, 10)}`;
---

<BaseLayout
  title={title}
  description={postDescription}
>
  <Fragment slot="head">
    <style is:global>
      article {
        word-break: normal;
        word-break: auto-phrase;

        .anchor > .anchor-link {
          color: gray;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          &::after {
            content: " ";
          }
        }
      }
    </style>
    <style>
      @view-transition {
        navigation: auto;
      }

      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }

      img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }

      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        padding: 1em;
        margin: auto;
        color: rgb(var(--gray-dark));
      }

      .title {
        padding: 1em 0;
        margin-bottom: 1em;
        line-height: 1;
        text-align: center;
      }

      .title h1 {
        margin: 0 0 0.5em;
      }

      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }

      .last-updated-on {
        font-style: italic;
      }
    </style>
  </Fragment>
  <article>
    <div class="prose">
      <div class="title">
        <h1
          set:html={budouxed}
          style={{ viewTransitionName: slug }}
        />
        <div>
          <p class="date">
            <FormattedDate date={date} />
            {
              updatedDate && (
                <span class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </span>
              )
            }
            <OldPostWarning publishDate={lastUpdatedOn} />
          </p>
        </div>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>
