---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import OldPostWarning from "../components/OldPostWarning.astro";
import { budouxfy } from "../lib/parse-with-budoux.ts";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"post">["data"] & { slug: string };

const { title, description, date, updatedDate, slug } = Astro.props;

const budouxed = budouxfy(title);
const lastUpdatedOn: Date = updatedDate ?? date;
// NOTE: fallback if description is empty string too.
const postDescription =
  description ||
  `Omochice's blog post at ${date.toISOString().substring(0, 10)}`;
---

<BaseLayout
  title={title}
  description={postDescription}
>
  <Fragment slot="head">
    <style is:global>
      article {
        word-break: normal;
        word-break: auto-phrase;

        .anchor > .anchor-link {
          color: gray;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          &::after {
            content: " ";
          }
        }
      }
    </style>
    <style>
      @view-transition {
        navigation: auto;
      }

      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }

      img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: 0 2px 6px rgb(96 115 159 / 25%), 0 8px 24px rgb(96 115 159 / 33%), 0 16px 32px rgb(96 115 159 / 33%);
      }
    </style>
  </Fragment>
  <article>
    <div class="prose w-720 max-w-[calc(100%-2em)] p-4 mx-auto text-gray-dark">
      <div class="title py-4 mb-4 leading-none text-center">
        <h1
          class="m-0 mb-2"
          set:html={budouxed}
          style={{ viewTransitionName: slug }}
        />
        <div>
          <p class="date mb-2 text-gray">
            <FormattedDate date={date} />
            {
              updatedDate && (
                <span class="last-updated-on italic">
                  Last updated on <FormattedDate date={updatedDate} />
                </span>
              )
            }
            <OldPostWarning publishDate={lastUpdatedOn} />
          </p>
        </div>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>
